/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body{
        width: 100%;
        margin: auto;
    }
    #card {

        width: 900px;
        height: 100%;
        margin: 900px;
    }
    #card.open-fully{
        margin-top: 500px;
        width: 900px;
        height: 500px;
    }
    #card-inside {
        width: 350px;
        height: 500px;
    }
    .wishesFont{
        width: 350px;
        height: 500px;
    }
    .wishesFont p {
        font-size: 16px;  
    }
    #cake{
        padding: 20px;
        width: 350px;
        height: 470px;
    }
    #card-front{
        width: 350px;
        height: 500px;
    }
    .wrap {
        font-size: 10px;
        width: 350px;
        height: 500px;
    }
    .wrap h1{
        font-size: 10px;
        width: 300px;
        height: 200px;
        margin-right: 10px;
    }
    .cake_and_velas {
      display:none ;
      }

      .polaroid{
        height: 260px;
      }
      .polaroid img{
        width: 90px;
        height: 90px;
      }

    /* Add more adjustments as needed */
}

/* Media query for screens larger than 1200px */
@media only screen and (min-width: 1200px) {
    /* Adjustments for larger screens */
    #card {
        width: 70%;
        margin: auto;
    }
    #card-inside {
        padding: 30px;
    }
    .wrap {
        font-size: 18px;
    }
    /* Add more adjustments as needed */
}
